.card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-large);
  background-color: var(--color-card-gray);
  padding: 10px;

}